PK=
EOA_ADDRESS=
CHAIN_ID=
RELAYER_URL=
RPC_URL=
BUILDER_API_KEY=
BUILDER_SECRET=
BUILDER_PASS_PHRASE=
USDC_ADDRESS=
SPENDER_ADDRESS=
DEPOSIT_WALLET_ADDRESS=
DEPOSIT_WALLET_NONCE=
DEPOSIT_WALLET_DEADLINE=
